**/*.swp
**/*.swo
build/**
**/ninja-build/**
build/**
**/ninja-build/**
projects/**
external/lua/**
tags
**/tags
gmon.out
**/gmon.out
notes.txt
**/notes.txt
compile_commands.json
**/compile_commands.json
.cache/**
.cache
